.menu {
  font-size: 14px;
  .menu-item,
  .menu-sub-item {
    cursor: pointer;
    letter-spacing: 1.5px;
  }
  .menu-item-disabled {
    color: gray;
    cursor: not-allowed;
  }
}
.menu-horizontal {
  position: relative;
  display: flex;
  .menu-item {
    padding-bottom: 5px;
    margin-right: 15px;
    border-bottom: 3.5px solid transparent;
    &:hover {
      border-bottom: 3.5px solid rgb(33, 124, 221);
      background-color: transparent;
    }
  }
  .menu-item-disabled {
    &:hover {
      border-bottom: 3.5px solid transparent;
    }
  }
  .menu-horizontal-item-active {
    border-bottom: 3.5px solid rgb(33, 124, 221);
    color: rgb(33, 124, 221);
    transition: all 0.5s ease-in;
  }
  .menu-item-children {
    min-width: 150px;
    position: absolute;
    border: 1px solid #ccc;
    top: 35px;
    color: #000;
    .menu-sub-item {
      margin: 2px;
      padding: 5px 10px;
      border-radius: 3px;
      &:hover {
        background-color: rgba(179, 182, 182, 0.348);
      }
    }
    .menu-sub-item-active {
      background-color: rgb(192, 217, 243);
      color: rgb(33, 124, 221);
      &:hover {
        background-color: rgb(192, 217, 243);
      }
    }
  }
}
.menu-vertical {
  max-width: 200px;
  .menu-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 0px 6px 6px;
    vertical-align: middle;
    margin-bottom: 15px;
    border-left: 3.5px solid transparent;
    &:hover {
      background-color: rgba(179, 182, 182, 0.348);
    }
    .menu-btn {
      margin-right: 10px;
    }
  }

  .menu-item-disabled {
    &:hover {
      background-color: transparent;
    }
  }
  .menu-vertical-item-active {
    border-left: 3.5px solid rgb(33, 124, 221);
    color: rgb(33, 124, 221);
    transition: all 0.5s ease-in;
  }
  .menu-item-children {
    margin-top: 10px;
    text-indent: 10px;
    background-color: #eee;
    min-width: 150px;
    color: #000;
    .menu-sub-item {
      margin: 2px;
      padding: 5px 10px;
      border-radius: 3px;
      &:hover {
        background-color: rgba(179, 182, 182, 0.348);
      }
    }
    .menu-sub-item-active {
      background-color: rgb(192, 217, 243);
      color: rgb(33, 124, 221);
      &:hover {
        background-color: rgb(192, 217, 243);
      }
    }
  }
}
